{% extends 'admin.html' %}
{% block content %}
<h2>Search for Books</h2>
    <form method="get" action="">
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Search</button>
</form>
<h3>Search Results for <em>{{search_text}}</em></h3>
{% if books %}
   <ul class="list-group">
    {% for book in books %}
    <li class="list-group-item">
       <span class="text-info">Title: </span>
        <a role="button"
            aria-pressed="true" href="/books/{{ book.id }}/">
             <span>{{book.title }} ({{ book.isbn }})</span>
        </a>
        <br>
        <span class="text-info">Contributor: </span>
         <span>
        {% for book_contributor in book.bookcontributor_set.all %}
        {{ book_contributor.contributor.first_names }} {{ book_contributor.contributor.last_names }}
        {% if not forloop.last %}, {% endif %}
{% endfor %}
    </span>
    {% endfor %}
    </ul>
{% else %}
    <p>No results found.</p>
{% endif %}
{% endblock %}