{% extends 'layout/customer.html' %}

{% block content %}

{% if messages %}
        {% for message in messages %}
            <div style="font-size: 18px;" class="message  {% if message.tags == 'error' %}
            error-message{% elif message.tags == 'success' %}
            success-message{% else %}info-message{% endif %}" >
                <p>{{ message }}</p>
            </div>
        {% endfor %}
{% endif %}

    <div class="table-container">
        <div class="sidebar">
         <a href="{% url 'profile' %}" style="color: black; text-decoration: none; font-size: 18px"><button class="tab-button">Thông tin cá nhân</button></a>
         <a href="{% url 'lich_hen_khach_hang' %}" style="color: black; text-decoration: none; font-size: 18px"><button class="tab-button active">Lịch hẹn</button></a>
         <a href="{% url 'yctv_cua_toi' %}" style="color: black; text-decoration: none; font-size: 18px"><button class="tab-button ">Yêu cầu tư vấn</button></a>
         <a href="{% url 'khieu_nai_cua_toi' %}" style="color: black; text-decoration: none; font-size: 18px"><button class="tab-button">Khiếu nại</button></a>
    </div>
        <div style="width:100%;height:100%">
            <div class="table-title">Lịch hẹn của bạn</div>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Dịch vụ sử dụng</th>
                        <th>Ngày đăng ký</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {% if danh_sach_lich_hen %}
                        {% for lich_hen in danh_sach_lich_hen %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ lich_hen.MaDV.ten }}</td>
                            <td>{{ lich_hen.thoigiandangki|date:"d/m/Y" }}</td>
                            <td>{{ lich_hen.TrangThai }}</td>
                            <td>
                                {% if lich_hen.TrangThai == "Chưa xử lý" or lich_hen.TrangThai == "Đang xử lý" %}
                                <a class="action-link delete-link" href="{% url 'huy_lich_hen' lich_hen.MaLH %}">Hủy</a>
                                {% else %}
                                <span class="no-data">Đã hủy</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="no-data">Bạn chưa có lịch hẹn nào.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
</div>

<style>


    body {
        background-color: #ffeed9;
        font-family: 'Arial', sans-serif;
    }

    .message {
        padding: 15px;
        margin: 5px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 500;
        box-shadow: 0 4px 10px rgb(0 0 0 / 38%);
        transition: all 0.3s ease-in-out;
        text-align: center;
    }

    .message p {
    font-size: 18px;
    }

    .error-message {
        background-color: #bd8712;
        color: #fff;
    }

    .success-message {
        background-color: #bd8712;
        color: #fff;
    }

    .info-message {
        background-color: #bd8712;
        color: #fff;
    }


    .table-title {
        font-size: 32px;
        color: #BD8712;
        text-align: center;
        margin-bottom: 20px;
        font-weight:600;
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        max-width: 1200px;
        margin: 20px auto;
    }
    .sidebar {
        width: 20%;
        margin-right: 20px;
        margin-top:55px;
    }

    .tab-button {
        display: block;
        width: 100%;
        padding: 10px 15px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        text-align: left;
        font-size: 18px;
        color: #333;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .tab-button.active {
        background-color: #BD8712;
        color: white;
    }
    .styled-table {
       height: 100%;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        text-align: left;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        background: #fff;
        border-radius: 15px;
        overflow: hidden;
    }

    .styled-table thead {
        background-color: #BD8712;
        color: white;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        border: 1px solid #ddd;
    }

    .styled-table tbody tr{
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:hover {
        background-color: #f1f1f1;
    }

    .styled-table th {
        font-size: 16px;
        font-weight: bold;
    }

    .styled-table td {
        font-size: 16px;
    }

    .action-link {
        text-decoration: none;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .delete-link {
        color: white;
        background-color: #4CAF50;
    }

    .delete-link:hover {
        background-color: #45a049;
    }

    .no-data {
        text-align: center;
        color: #666;
        font-style: italic;
        font-size: 14px;
    }



    .styled-table th,
    .styled-table td {
    text-align: center;
    padding: 12px 15px;
    border: 1px solid #ddd;
}

</style>
{% endblock %}
