{% extends 'layout/admin.html' %}

{% block content %}

<div class="form-container">
    <h2 class="form-title">Thêm lịch hẹn mới</h2>
    <form method="post">
        {% csrf_token %}
        <label for="MaKH">Chọn khách hàng:</label>
        <select name="MaKH" id="MaKH" required>
            {% for khach_hang in danh_sach_khach_hang %}
            <option value="{{ khach_hang.MaUser.username }}">{{ khach_hang.hoten }}</option>
            {% endfor %}
        </select>

        <label for="MaDV">Chọn dịch vụ:</label>
        <select name="MaDV" id="MaDV" required>
            {% for dich_vu in danh_sach_dich_vu %}
            <option value="{{ dich_vu.MaDV }}">{{ dich_vu.ten }}</option>
            {% endfor %}
        </select>

        <label for="thoigiandangki">Chọn ngày đăng ký lịch hẹn:</label>
        <input type="date" name="thoigiandangki" id="thoigiandangki" required>

        <button type="submit">Thêm lịch hẹn</button>
    </form>
</div>


<style>
    body {
        background-color: #ffeed9;
        font-family: 'Arial', sans-serif;
    }

    .form-container {
        margin: 20px auto;
        width: 100%;
        max-width: 500px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
        text-align: center;
    }

    .form-title {
        font-size: 28px;
        color: #BD8712;
        margin-bottom: 20px;
    }

    .form-container select option {
    font-size: 15px;
    background-color: #ffeed9;
}

    .form-container textarea,
    .form-container select,
    .form-container input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 15px;
        resize: vertical;
    }

    .form-container textarea:focus,
    .form-container select:focus,
    .form-container input:focus {
        border-color: #BD8712; /* Màu sắc khi trường được chọn */
    }

    label {
        display: block;
        font-weight: bold;
        margin: 10px 0 5px;
        text-align: left;
        font-size:16px;
    }

    select, input[type="date"], button {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }

    button {
        background-color: #BD8712;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #a57110;
    }

    .error-message {
        color: red;
        margin-top: 10px;
    }
</style>

{% endblock %}
