{% extends layout %}

{% block content %}

{% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p class="message">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
<div class="lock-account-container">

    <h1 class="lock-title">Khóa tài khoản</h1>
    <form method="post">
        {% csrf_token %}
        <label for="lock_reason">Lý do khóa tài khoản:</label><br>
        <textarea id="lock_reason" name="lock_reason" rows="4" cols="50"></textarea><br><br>
        <button type="submit" class="save-button">Khóa tài khoản</button>
    </form>
</div>

<style>
    body {
        background-color: #ffeed9;
        font-family: 'Arial', sans-serif;
    }

    .lock-account-container {
        max-width: 500px;
        margin: 20px auto;
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .lock-title {
        font-size: 28px;
        color: #BD8712;
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        font-size: 16px;
        color: #000;
        margin: 0 0 -15px 11px;
        display: block;
        text-align: left;
    }

    textarea {
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    .save-button {
        background-color: #BD8712;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }

    .save-button:hover {
        background-color: #a5740f;
    }

    .messages {
        list-style: none;
        padding: 0;
    }

    .message {
        padding: 15px;
        margin: 5px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 500;
        box-shadow: 0 4px 10px rgb(0 0 0 / 38%);
        transition: all 0.3s ease-in-out;
        text-align:center;
        background-color: #bd8712;
        color: #fff;
    }
</style>
{% endblock %}
