{% extends layout %}

{% block content %}
<body>
    <div class="profile-container">
        <div class="profile-header">
            <h1>Lịch Sử Lịch Hẹn</h1>
        </div>
        <div class="profile-content">
            <div class="sidebar">
                <button class="tab-button">
                    <a href="{% url 'profile' %}"
                       style="color: black; text-decoration: none; font-size: 18px">Thông tin cá nhân
                    </a>
                </button>
                <button class="tab-button active">Lịch sử sử dụng</button>
            </div>

        <div class="profile-details">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ngày thực hiện</th>
                        <th>Dịch vụ sử dụng</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in lich_su %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.thoigiandangki|date:'d/m/Y' }}</td>
                        <td>{{ item.MaDV.ten }}</td>
                        <td>{{ item.TrangThai }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" style="text-align: center;">Không có lịch sử sử dụng.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #ffeed9;
    }

    .profile-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .profile-header h1 {
        text-align: center;
        color: #BD8712;
        font-size: 32px;
    }

    .profile-content {
        display: flex;
        margin-top: 20px;
    }

    .sidebar {
        width: 20%;
        margin-right: 20px;
    }

    .tab-button {
        display: block;
        width: 80%;
        padding: 10px 15px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: left;
        font-size: 18px;
        color: #333;
        cursor: pointer;
        margin: 0 15px 10px 80px;

    }

    .tab-button.active {
        background-color: #BD8712;
        color: white;
    }

    .profile-details {
        width: 50%;
        background-color: white;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-left: 45px;
    }

    .profile-details {
        width: 65%;
        background-color: white;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-
    }

    .styled-table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
    }

    .styled-table thead {
        background-color: #BD8712;
        color: white;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        border: 1px solid #ddd;
    }

    .styled-table tbody tr:nth-child(even) {
        background-color: #f3f3f3;
    }


    .styled-table th {
        font-size: 16px;
        font-weight: bold;
    }

    .styled-table td {
        font-size: 16px;
    }

</style>
{% endblock %}
