{% extends layout %}

{% block content %}
<body>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p class="message">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="profile-container">
        <div class="profile-header">
            <h1>Thông Tin Tài Khoản Cá Nhân</h1>
        </div>

        <div class="profile-content">
            <div class="sidebar">
                <a href="{% url 'lich_su_sd' %}" style="color: black; text-decoration: none; font-size: 18px">
                      <button class="tab-button active">Thông tin cá nhân</button>
                </a>
                {% if not is_staff %}
                <a href="{% url 'lich_hen_khach_hang' %}" style="color: black; text-decoration: none; font-size: 18px">
                    <button class="tab-button">
                    Lịch hẹn
                </button>
                </a>
                <a href="{% url 'yctv_cua_toi' %}" style="color: black; text-decoration: none; font-size: 18px"><button class="tab-button">Yêu cầu tư vấn</button></a>
                <a href="{% url 'khieu_nai_cua_toi' %}" style="color: black; text-decoration: none; font-size: 18px"><button class="tab-button">Khiếu nại</button></a>
                {% endif %}
            </div>

            <div class="profile-details">
                <div class="form-group">
                    <label>Họ và Tên:</label>
                    <input type="text" value="{{ profile.hoten }}" readonly>
                </div>
                <div class="form-group">
                    <label>Ngày Sinh:</label>
                    <input type="text" value="{{ profile.ngaysinh|date:'d/m/Y' }}" readonly>
                </div>
                <div class="form-group">
                    <label>Số Điện Thoại:</label>
                    <input type="text" value="{{ profile.sodienthoai }}" readonly>
                </div>
                <div class="form-group">
                    <label>Địa Chỉ:</label>
                    <input type="text" value="{{ profile.diachi }}" readonly>
                </div>
                <div class="form-group">
                    <label>Vai Trò:</label>
                    <input type="text" value="{{ profile.vaitro }}" readonly>
                </div>
                <div class="form-group">
                    <label>Điểm tích lũy:</label>
                    <input type="text" value="{{ diem_tich_luy.DiemTichLuy|default:'Chưa có điểm' |floatformat:0 }}" readonly>
                </div>
                <button class="save-button">
                    <a href="{% url 'conversations' %}" style="color: white; text-decoration: none; font-size: 16px;">Lịch sử chat</a>
                </button>
                <button class="save-button">
                    <a href="{% url 'sua_profile' %}" style="color: white; text-decoration: none; font-size: 16px;">Sửa thông tin</a>
                </button>
                <button class="save-button">
                    <a href="{% url 'khoa_taikhoan' %}" style="color: white; text-decoration: none; font-size: 16px;">Khóa tài khoản</a>
                </button>
            </div>
        </div>
    </div>
</body>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #ffeed9;
    }

    .profile-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .profile-header h1 {
        text-align: center;
        color: #BD8712;
        font-size: 32px;
    }

    .profile-content {
        display: flex;
        margin-top: 20px;
    }

    .sidebar {
        width: 20%;
        margin-right: 20px;
    }

    .tab-button {
        display: block;
        width: 80%;
        padding: 10px 15px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: left;
        font-size: 18px;
        color: #333;
        cursor: pointer;
        margin: 0 15px 10px 80px;
    }

    .tab-button.active {
        background-color: #BD8712;
        color: white;
    }

    .profile-details {
        width: 50%;
        background-color: white;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-left: 45px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        font-weight: bold;
        margin: 0 10px 5px;
        font-size: 16px;
    }

    .form-group input {
        width: 95%;
        padding: 10px;
        font-size: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #F9F9F9;
        color: #333;
        margin: 0 10px 5px;
    }

    .save-button {
        display: block;
        background-color: #BD8712;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 0 auto 15px;
        width: 150px;
        text-align: center;
    }

    .save-button:hover {
        background-color: #a5740f;
        color: white;
    }

    .messages {
        list-style: none;
        padding: 0;
    }

    .message {
        padding: 15px;
        margin: 5px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 500;
        box-shadow: 0 4px 10px rgb(0 0 0 / 38%);
        transition: all 0.3s ease-in-out;
        text-align:center;
        background-color: #bd8712;
        color: #fff;
    }

</style>

{% endblock %}
