{% extends 'layout/admin.html' %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #ffeed9;
    }

    .form-container {
        margin: 20px auto;
        width: 100%;
        max-width: 500px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }

    h1 {
        font-size: 28px;
        font-weight: bold;
        color: #BD8712;
        text-align: center;
        margin-bottom: 20px;
    }


    .form-container input,
    .form-container textarea {
        padding: 10px;
        font-size: 1rem;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    .form-container input[type="file"] {
        font-size: 1rem;
    }

    label {
        display: block;
        font-weight: bold;
        margin: 10px 0 5px;
        text-align: left;
    }

    .form-container div {
        margin-bottom: 30px; /* Tăng khoảng cách giữa các trường */
    }



    .search-bar {
        padding: 10px;
        font-size: 1.2rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 100%;
        max-width: 300px;
    }

    .form-container textarea,
    .form-container select,
    .form-container input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 15px;
        resize: vertical;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        color: white;
        background-color: #BD8712;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #a87f10;
    }
</style>


<div class="form-container">
    <h1>Tạo Bài Viết Mới</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            <label for="nguoi_tao">Người Tạo:</label>
            <input type="text" name="nguoi_tao" id="nguoi_tao" required>
        </div>

        <div>
            <label for="tieu_de">Tiêu Đề:</label>
            <input type="text" name="tieu_de" id="tieu_de" required>
        </div>

        <div>
            <label for="hinh_anh">Hình Ảnh:</label>
            <input type="file" name="hinh_anh" id="hinh_anh" accept="image/*" required>
        </div>

        <div>
            <label for="noi_dung">Nội Dung:</label>
            <input type="file" name="noi_dung" id="noi_dung" accept=".pdf,.docx,.txt" required>
        </div>

        <div>
            <label for="thoi_gian_dang">Thời Gian Đăng:</label>
            <input type="datetime-local" name="thoi_gian_dang" id="thoi_gian_dang">
        </div>

        <div class="action-btn">
            <button type="submit">Đăng Bài Viết</button>
        </div>
    </form>
</div>

{% endblock %}